# Git
.git
.gitignore

# Node
node_modules

# Turbo
<!-- .turbo -->

# Local build outputs
dist
.next
.output

# Docker
.dockerignore
Dockerfile
apps/*/Dockerfile
docker-compose.yml

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
*.log