[phases.setup]
nixPkgs = ["nodejs_18", "pnpm"]

[phases.install]
cmds = [
  "pnpm install --frozen-lockfile"
]

[phases.build]
cmds = [
  "pnpm --filter ./apps/api... run build"
]

[start]
cmd = "pnpm --filter ./apps/api... run start"
